in/
venv/
.xlsx
.DS_Store
*.xlsx
.idea/estagio-pucpr.iml
.idea/misc.xml
.idea/estagio-pucpr.iml
.idea/misc.xml
venv/
*.XML
*.xls
comparacao-matrizes/out.txt
*.csv
*.txt
*.roz
*.pdf
*.docx
*.rar
*.json
